.layui-footer{
    text-align: center;
}
i{
    margin-right: 6px;
}
dd{
    text-indent: 10px;
}
.text-avatar{
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    color: black;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
}
.layui-nav-img{
    display: none;
}
.layui-body{
    padding: 10px;
    background-color: #eee;
}